@import "../variables";

#site-wrapper {
  background-color: $light-gray-background;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#sidebar-wrapper {
  align-items: stretch;
  width: 20%;
  background-color: $light-background;
  padding: 20px;
  flex-grow: 1;
  box-shadow: 0 6px 10px $box-shadow-color;
}

#router-wrapper {
  margin: 20px;
  width: 80%;
  overflow: scroll;
}
