#site-wrapper {
  background-color: #222529;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#sidebar-wrapper {
  width: 20%;
  background-color: #282b2f;
  padding: 20px;
}

#router-wrapper {
  margin: 20px;
  width: 80%;
}
