@use "../../styles/variables" as *;

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  #routing-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;

    .nav-link {
      padding: 10px;
      border-radius: 10px;
      width: 100%;

      &:hover {
        cursor: pointer;
        background-color: $light-green-accent;
        box-shadow: inset 0 0 2px $green-accent;
      }
    }

    .active-link {
      background-color: $light-green-accent;
      box-shadow: inset 0 0 2px $green-accent;

      &:hover {
        cursor: default;
        // background-color: $green-accent;
      }
    }
  }

  #reset-button {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: $red-pastel;
    box-shadow: inset 0 0 2px red;
  }
}
