#sidebar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;

  .nav-link {
    padding: 10px;
    border-radius: 10px;
    width: 100%;

    &:hover {
      cursor: pointer;
      background-color: #3a3f45;
    }
  }

  .active-link {
    background-color: #5bbc7a;
    box-shadow: 0 4px 8px rgba(91, 188, 122, 0.3);

    &:hover {
      cursor: default;
      background-color: #5bbc7a;
    }
  }
}
