<div id="sidebar">
  <ul id="sidebar-list">
    <li class="nav-item">
      <a
        routerLink="/dashboard"
        class="nav-link"
        routerLinkActive="active-link"
      >
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/tags" class="nav-link" routerLinkActive="active-link">
        Tags
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/analytics"
        class="nav-link"
        routerLinkActive="active-link"
      >
        Analytics
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/settings" class="nav-link" routerLinkActive="active-link">
        Settings
      </a>
    </li>
  </ul>
</div>
