#navbar {
  height: 100px;
  background-color: #ffffff;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  justify-content: center;
  align-items: center;

  #navbar-list {
    display: flex;
    width: 80%;
    gap: 80px;

    .nav-item {
      font-size: large;
      font-weight: bold;
    }
  }
}
