@use "../../styles/variables" as *;

#add-tag-modal-component {
  #add-tag-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    h1 {
      font-size: 24px !important;
    }

    #close-modal-wrapper {
      display: flex;
      height: max-content;

      &:hover {
        cursor: pointer;

        #close-modal-button {
          color: red;
        }
      }

      #close-modal-button {
        color: $red-pastel;
      }
    }
  }

  #current-transcation {
    display: block;
    margin-bottom: 15px;
  }

  #tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
