@use "../../styles/variables" as *;

#tag-wrapper {
  display: block;
  width: fit-content;
  padding: 8px;
  border-radius: 8px;
  box-shadow: inset 0 0 2px $green-accent;
}

.clickable {
  cursor: pointer;
}

.disabled {
  background-color: $light-background !important;
}

$color-map: (
  "red": $red-pastel,
  "orange": $orange-pastel,
  "yellow": $yellow-pastel,
  "green": $green-pastel,
  "blue": $blue-pastel,
  "indigo": $indigo-pastel,
  "violet": $violet-pastel,
  "pink": $pink-pastel,
);

@each $key, $value in $color-map {
  .bg-#{$key} {
    background-color: $value;
  }
}
