// dark-theme
$dark-background: #222529;
$gray-background: #3a3f45;


// light-theme
$light-background: #fffffc;
$light-gray-background: #f2f2f4;

$box-shadow-color: lightgray;


// other colors
$green-accent: #5bbc7a;
// $light-green-accent: #c1e6cd;
$light-green-accent: #caffbf;

// pastels
$red-pastel: #ffadad;
$orange-pastel: #ffd6a5;
$yellow-pastel: #fdffb6;
$green-pastel: #caffbf;
$blue-pastel: #9bf6ff;
$indigo-pastel: #a0c4ff;
$violet-pastel: #bdb2ff;
$pink-pastel: #ffc6ff;

