@import "../../../variables";

:host {
    display: flex;
  }
  

.transaction-card {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    background-color: $light-background;
    width: 100%;
    padding: 15px;
    border-radius: 10px;

    #add-tag-button {
        width: fit-content;
        padding: 8px;
        border-radius: 8px;
        background-color: $light-green-accent;
        box-shadow: inset 0 0 2px $green-accent;
    }

}

#add-tag-modal-wrapper {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */    

    app-add-tag-modal {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 500px;
        height: 500px;
        border-radius: 15px;
    }
}