<div id="dashboard-component">
  <h1 id="dashboard-header">Tagless Transactions</h1>

  <div id="transaction-list">
    <app-transaction-card
      (addTagClicked)="addTagClicked($event)"
      *ngFor="let transaction of transactions$ | async"
      [transaction]="transaction"
    ></app-transaction-card>
  </div>
</div>

<div *ngIf="showModal()" id="add-tag-modal-wrapper">
  <app-add-tag-modal
    (closeModalClicked)="closeModalClicked()"
    [transactionSelected]="transactionSelected()"
  ></app-add-tag-modal>
</div>
