@use "../../styles/variables" as *;

#dashboard-component {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;

  #dashboard-header {
    font-size: 24px;
    margin-bottom: 15px;
  }

  #transaction-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;

    app-transaction-card {
      flex: 1;
      min-width: 100%;
    }
  }
}

#add-tag-modal-wrapper {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  app-add-tag-modal {
    background-color: $light-gray-background;
    margin: 10% auto;
    padding: 20px;
    box-shadow: inset 0 0 2px $light-gray-background;
    width: 500px;
    height: 500px;
    border-radius: 15px;
  }
}
